@font-face {
    font-family: Thedus-Bold;
    src: url("assets/ThedusCondensedLight-Bold.otf") format("opentype");
}

@font-face {
    font-family: Thedus-Regular;
    src: url("assets/ThedusCondensedLight-Regular.otf") format("opentype");
}


*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--f-regular);
}

:root {
    --f-bold: 'Thedus-Bold';
    --f-regular: 'Thedus-Regular';
    --clr-success: #CCED00;
    --clr-information: #EFEFEF;
    --clr-error: #CF291D;
}

.dialog {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

.dialog .dialog__container {
    width: 47.08313077297034vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.dialog .dialog__actions {
    display: flex;
    margin-left: auto;
    margin-bottom: 13px;
    font-size: 1.25rem;
}

.dialog .action {
    display: flex;
    margin-left: 28px;
}

.dialog .action__key {
    color: #CCED00;
    font-family: var(--f-bold);
}

.dialog .action__description {
    margin-left: 4px;
    color: #949494;
}

.dialog .dialog__icon {
    position: absolute;
    left: -22px;
    top: -22px;
    background-color: #000000;
    width: 60px;
    height: 60px;
}

.dialog .dialog__content {
    padding: 21px 38px;
    position: relative;
}

.dialog .dialog__title {
    font-size: 3rem;
    font-family: var(--f-bold);
}

.dialog .dialog__description {
    font-size: 1.75rem;
}

.dialog.error {
    background: linear-gradient(0deg, rgb(207, 41, 29) 0%, rgb(207, 41, 29) 0%, rgba(0, 0, 0, 1) 30%);
}

.dialog.error .dialog__content{
    border: 3px solid var(--clr-error);
}

.dialog.error .dialog__icon {
    background-image: url('assets/bx_bx-error-alt.svg');
}

.dialog.error .dialog__title {
    color: var(--clr-error);
}

.dialog.success {
    background: linear-gradient(0deg, rgb(204, 237, 0) 0%, rgb(204, 237, 0) 0%, rgba(0, 0, 0, 1) 30%);
}

.dialog.success .dialog__content{
    border: 3px solid var(--clr-success);
}

.dialog.success .dialog__icon {
    background-image: url('assets/clarity_success-standard-line.svg');
}

.dialog.success .dialog__title {
    color: var(--clr-success);
}

.dialog.information {
}

.dialog.information .dialog__content{
    border: 3px solid var(--clr-information);
}

.dialog.information .dialog__icon {
    background-image: url('assets/bx_bx-information-alt.svg');
}

.dialog.information .dialog__title {
    color: var(--clr-information);
}


:root {
    font-size: .5vw;
}
